

</body>
<script>

    async function fetchWithTiming() {
        const url = "__URL__";
        const start = performance.now();
        const response = await fetch(url);
        const end = performance.now();
        return end - start;
    }

    async function performRequests() {
        const url = "__URL__";
        let times = [ __RESPONSE_TIME1__ , __RESPONSE_TIME2__ , __RESPONSE_TIME3__ ,  __RESPONSE_TIME4__ , __RESPONSE_TIME5__ ];
        const data = {
            labels: ['Req 1', 'Req 2', 'Req 3', 'Req 4', 'Req 5'],
            datasets: [{
                label: 'Temps de réponse (µs) pour ' + url,
                data: times,
                backgroundColor: 'rgba(16,16,96, 0.5)',
                borderColor: 'rgba(32,32,228, 1)',
                borderWidth: 1
            }]
        };
        const config = { type: 'bar', data: data, options: {scales: {y: { beginAtZero: true }}}};
        const ctx = document.getElementById('responseTimeChart').getContext('2d');
        const responseTimeChart = new Chart(ctx, config);
    }

    document.addEventListener('DOMContentLoaded', performRequests);
</script>

</html>
